In [9]:
import pandas as pd
from sklearn.utils import resample

file = '../Encoding/FCV_Label_Encoded.csv'
df = pd.read_csv(file)

df

,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Home Type (detached 1),Highest Level of Education,Longest trip in the last 12 months,...,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,Target,Model Year,Manufacturer,Model
0,1,0,0,0,275000.0,2,1,1,3,483.14,...,0.01,2,65,0,2,14622,0.0,2016,12,7
1,0,0,1,0,275000.0,2,1,1,4,568.09,...,10.69,3,65,0,3,9197,0.0,2016,12,7
2,1,0,0,0,125000.0,2,1,1,2,255.16,...,17.63,2,55,0,3,5082,0.0,2017,12,7
3,0,0,0,0,125000.0,2,1,1,3,118.02,...,13.35,4,45,0,2,13224,0.0,2017,12,7
4,1,0,1,0,225000.0,1,1,1,3,111.87,...,34.77,4,45,0,3,16080,0.0,2017,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3499,0,0,1,0,275000.0,2,1,1,4,125.54,...,46.38,2,65,0,2,644,1.0,2017,1,2
3500,0,0,0,0,125000.0,2,1,1,3,305.67,...,35.66,4,35,0,2,18800,1.0,2017,1,2
3501,1,1,0,0,175000.0,2,0,0,2,99.00,...,44.72,2,25,0,2,9129,1.0,2017,1,2
3502,0,1,1,0,325000.0,0,1,1,3,227.55,...,17.29,4,55,1,2,13000,1.0,2017,1,2
3503,0,1,0,0,125000.0,2,1,1,4,99.97,...,18.37,4,55,0,4,9045,1.0,2017,1,2

In [10]:
df = df.rename(columns={'FCV, BEV Dummy' : 'Target'})

In [11]:
df_majority = df[df.Target==1.0]
df_minority = df[df.Target==0.0]

In [12]:
df_minority_oversampled = resample(df_minority,
                                   replace=True,
                                   n_samples=len(df_majority),
                                   random_state=123)

In [13]:
df_oversampled = pd.concat([df_majority, df_minority_oversampled])

In [14]:
df_oversampled['Target'].value_counts()

1.0    3317
0.0    3317
Name: Target, dtype: int64

In [15]:
df_oversampled.to_csv('FCV_Oversampled.csv', index=False)