In [2]:
import pandas as pd

file = 'Exports/FCV_Dataset.csv'
df = pd.read_csv(file)

df.head()

,Unnamed: 0,submitdate. Date submitted,Month/Year Submitted,Month Submitted,Year Submitted,lastpage. Last page,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,...,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy",Model Year,Manufacture,Model
0,0,2017/06/02 11:30:57,06/2017,6.0,2017.0,42.0,1.0,0.0,0.0,0.0,...,0.01,2.0,65.0,0.0,2,14622.000000,0.0,2016,Toyota,Mirai
1,1,2017/06/02 11:15:39,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,...,10.69,3.0,65.0,0.0,3,9197.142857,0.0,2016,Toyota,Mirai
2,4,2017/06/02 19:35:59,06/2017,6.0,2017.0,42.0,1.0,0.0,0.0,0.0,...,17.63,2.0,55.0,0.0,3,5082.352941,0.0,2017,Toyota,Mirai
3,5,2017/06/06 12:11:14,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,...,3.53,2.0,75.0,0.0,2,13025.454545,0.0,2016,Toyota,Mirai
4,7,2017/06/02 15:57:08,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,...,28.05,3.0,45.0,0.0,3,18000.000000,0.0,2016,Toyota,Mirai

In [3]:
df.Manufacture.value_counts()

Nissan           1401
Tesla            1292
Chevrolet         571
Toyota            350
Volkswagen        314
Fiat              276
BMW               152
Ford               98
Honda              64
FIAT               43
Kia                41
Smart              32
Mercedes-Benz      24
Hyundai            19
Mitsubishi          9
tesla               3
smart               3
Volkswagon          2
Mercedes            1
chevy               1
VW                  1
vw                  1
Tesler              1
Chev                1
Telsa               1
hyundai             1
nISSAN              1
MBW                 1
Nissa               1
Hyundi              1
Chevy               1
Name: Manufacture, dtype: int64

In [6]:
brand_mapping = {
    'FIAT' : 'Fiat',
    'tesla' : 'Tesla', 
    'Volkswagon' : 'Volkswagen', 
    'Mercedes' : 'Mercedes-Benz',
    'chevy' : 'Chevrolet',
    'VW' : 'Volkswagen',
    'vw' : 'Volkswagen',
    'Tesler' : 'Tesla',
    'Chev' : 'Chevrolet',
    'Telsa' : 'Tesla',
    'hyundai' : 'Hyundai',
    'nISSAN' : 'Nissan',
    'MBW' : 'BMW',
    'Nissa' : 'Nissan',
    'Hyundi' : 'Hyundai',
    'Chevy' : 'Chevrolet',
    'smart' : 'Smart'
}

df['Manufacture'] = df['Manufacture'].replace(brand_mapping)

In [7]:
df.Manufacture.value_counts()

Nissan           1403
Tesla            1297
Chevrolet         574
Toyota            350
Fiat              319
Volkswagen        318
BMW               153
Ford               98
Honda              64
Kia                41
Smart              35
Mercedes-Benz      25
Hyundai            21
Mitsubishi          9
Name: Manufacture, dtype: int64

In [9]:
df.Model.value_counts()

Leaf                      1400
Model S                   1121
Bolt EV                    498
500e                       316
e-Golf                     314
Mirai                      208
Model X                    157
i3                         153
RAV4 EV                    142
Focus Electric              93
Spark EV                    71
Fit EV                      50
Soul EV                     41
fortwo                      35
B-Class Electric Drive      23
Clarity                     14
Tucson                      13
i-MiEV                       9
Focus                        4
500E                         3
Model X 60D                  3
Roadster                     3
Bolt                         3
LEAF                         2
Tuscon                       2
Tuscon FCV                   1
S 85                         1
Tucson fuel cell             1
bolt                         1
 75d                         1
 Chevrolet Volt              1
B250e                        1
e golf                       1
Tuscan                       1
 E-Golf                      1
eGolf                        1
VW  e-Golf                   1
e-golf                       1
 Model X                     1
S 90D                        1
Model S, P85                 1
85 S                         1
 Leaf                        1
S 85 D                       1
Model S P85D                 1
s                            1
Fusion Energi                1
tuscon                       1
model S                      1
 Tuscon                      1
Spark                        1
S                            1
 Tucson                      1
Benz B Class Electric        1
 Model S                     1
Model S P90D                 1
Name: Model, dtype: int64

In [28]:
model_mapping = {
    '500E' : '500e',
    'Model X 60D' : 'Model X',
    'LEAF' : 'Leaf',
    'Tuscon' : 'Tucson',
    'Tucson FCV' : 'Tucson',
    'S 85' : 'Model S',
    'Tuscon fuel cell' : 'Tucson',
    'bolt' : 'Bolt EV',
    'Bolt' : 'Bolt EV',
    ' 75d' : 'Model S',
    'Model S P90D' : 'Model S',
    'S 90D' : 'Model S',
    'Tuscon FCV' : 'Tucson',
    ' Chevreolet Volt' : 'Volt',
    ' Tucson' : 'Tucson',
    'S 85 D' : 'Model S',
    'e golf' : 'e-Golf',
    ' E-Golf' : 'e-Golf',
    'eGolf' : 'e-Golf',
    'VW  e-Golf' : 'e-Golf',
    ' Leaf' : 'Leaf',
    'Model S P85D' : 'Model S',
    's' : 'Model S',
    'Tucson fuel cell' : 'Tucson',
    'model S' : 'Model S',
    'Tuscan' : 'Tucson',
    'S' : 'Model S',
    'tuscon' : 'Tucson',
    '85 S' : 'Model S',
    'Model S, P85' : 'Model S',
    ' Model S' : 'Model S',
    ' Tuscon' : 'Tucson',
    'Benz B Class Electric' : 'B250e',
    ' Model X' : 'Model X',
    'e-golf' : 'e-Golf',
    'Focus Electric' : 'Focus',
    'B-Class Electric Drive' : 'B250e',
    ' Chevrolet Volt' : 'Volt',
    'Spark' : 'Spark EV'
    
}

df['Model'] = df['Model'].replace(model_mapping)

In [29]:
df.Model.value_counts()

Leaf             1403
Model S          1133
Bolt EV           502
500e              319
e-Golf            319
Mirai             208
Model X           161
i3                153
RAV4 EV           142
Focus              97
Spark EV           72
Fit EV             50
Soul EV            41
fortwo             35
B250e              25
Tucson             21
Clarity            14
i-MiEV              9
Roadster            3
Fusion Energi       1
Volt                1
Name: Model, dtype: int64

In [30]:
df.to_csv('FCV_Dataset_mapped.csv')