In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [33]:
file = '../Brand_mapping/FCV_Dataset_mapped.csv'
df = pd.read_csv(file)

df.head()

,Unnamed: 0,submitdate. Date submitted,Month/Year Submitted,Month Submitted,Year Submitted,lastpage. Last page,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,...,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,Target,Model Year,Manufacture,Model
0,0,2017/06/02 11:30:57,06/2017,6.0,2017.0,42.0,1.0,0.0,0.0,0.0,...,0.01,2.0,65.0,0.0,2,14622.000000,0.0,2016,Toyota,Mirai
1,1,2017/06/02 11:15:39,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,...,10.69,3.0,65.0,0.0,3,9197.142857,0.0,2016,Toyota,Mirai
2,4,2017/06/02 19:35:59,06/2017,6.0,2017.0,42.0,1.0,0.0,0.0,0.0,...,17.63,2.0,55.0,0.0,3,5082.352941,0.0,2017,Toyota,Mirai
3,5,2017/06/06 12:11:14,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,...,3.53,2.0,75.0,0.0,2,13025.454545,0.0,2016,Toyota,Mirai
4,7,2017/06/02 15:57:08,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,...,28.05,3.0,45.0,0.0,3,18000.000000,0.0,2016,Toyota,Mirai

In [34]:
df = df.drop(columns=['Unnamed: 0', 'submitdate. Date submitted', 'Month/Year Submitted', 'Month Submitted', 'Year Submitted', 'lastpage. Last page'])
df.head()

,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Home Type (detached 1),Highest Level of Education,Longest trip in the last 12 months,...,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,Target,Model Year,Manufacture,Model
0,1.0,0.0,0.0,0.0,275000.0,2.52,1.0,1.0,3.0,483.14,...,0.01,2.0,65.0,0.0,2,14622.000000,0.0,2016,Toyota,Mirai
1,0.0,0.0,1.0,0.0,275000.0,2.76,1.0,1.0,4.0,568.09,...,10.69,3.0,65.0,0.0,3,9197.142857,0.0,2016,Toyota,Mirai
2,1.0,0.0,0.0,0.0,125000.0,2.60,1.0,1.0,2.0,255.16,...,17.63,2.0,55.0,0.0,3,5082.352941,0.0,2017,Toyota,Mirai
3,0.0,0.0,1.0,0.0,175000.0,1.23,1.0,1.0,4.0,312.78,...,3.53,2.0,75.0,0.0,2,13025.454545,0.0,2016,Toyota,Mirai
4,0.0,0.0,1.0,0.0,500000.0,1.08,1.0,1.0,2.0,125.79,...,28.05,3.0,45.0,0.0,3,18000.000000,0.0,2016,Toyota,Mirai

In [35]:
le = LabelEncoder()

In [36]:
df['Manufacture'] = le.fit_transform(df['Manufacture'])
df['Model'] = le.fit_transform(df['Model'])

df.head()

,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Home Type (detached 1),Highest Level of Education,Longest trip in the last 12 months,...,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,Target,Model Year,Manufacture,Model
0,1.0,0.0,0.0,0.0,275000.0,2.52,1.0,1.0,3.0,483.14,...,0.01,2.0,65.0,0.0,2,14622.000000,0.0,2016,12,8
1,0.0,0.0,1.0,0.0,275000.0,2.76,1.0,1.0,4.0,568.09,...,10.69,3.0,65.0,0.0,3,9197.142857,0.0,2016,12,8
2,1.0,0.0,0.0,0.0,125000.0,2.60,1.0,1.0,2.0,255.16,...,17.63,2.0,55.0,0.0,3,5082.352941,0.0,2017,12,8
3,0.0,0.0,1.0,0.0,175000.0,1.23,1.0,1.0,4.0,312.78,...,3.53,2.0,75.0,0.0,2,13025.454545,0.0,2016,12,8
4,0.0,0.0,1.0,0.0,500000.0,1.08,1.0,1.0,2.0,125.79,...,28.05,3.0,45.0,0.0,3,18000.000000,0.0,2016,12,8

In [37]:
df.to_csv('FCV_Label_Encoded.csv', index=False)